/* form label {
  display: block;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-navigation {
  color: white;
  text-decoration: none;
}
.App-navigationMenu {
  color: black;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* footer {
  border-style: groove;
  border-radius: 2%;
  margin: 5%;
  margin-top: calc(20% + 60px);
  bottom: 0;
} */

footer {
  margin-top: 100px;
  /* margin-bottom: 120px; */
  border-top: 1px solid #dddddd;
  padding: 20px 0px;
  /* text-align: center; */
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  background: #61dafb;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-170%);
  transition: transform 0.3s;
  z-index: 1;
}

.skip-link:focus {
  transform: translateY(0%);
}
